html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ---------- Product image consistency ---------- */
.plant-img-wrapper {
  width: 100%;
  height: 500px;
  /* same height for all */
  overflow: hidden;
}

.plant-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* crops nicely, no distortion */
}


.plant-img {
  transition: transform 0.3s ease;
}

.plant-img:hover {
  transform: scale(1.05);
}